<!-- <p>landingpage works!</p> -->

<!-- <div class="images" *ngFor="let image of imagesList" (deferLoad)="image.show = true">
    <ng-container *ngIf="image.show">
    <app-header></app-header>
      <img src={{image.url}}>
    </ng-container>
</div> -->
<div style="background-color: #333335; width: 100%; height: 100%;">
    <app-header></app-header>
 <!-- <span [class.mat-elevation-z12]="!isActive" [class.mat-elevation-z18]="isActive" style=' color: aliceblue; display: flex; justify-content: flex-start; margin: 10px; font-size: x-large; width: 8%;'>🄺🄰🄺🅂🄷🄰</span>  -->
</div>