<div [class.mat-elevation-z12]="!isActive" [class.mat-elevation-z18]="isActive">
<mat-toolbar id="toolbar" class="transparent" >
    <!-- <mat-icon mat-fab color="primary" aria-hidden="false" aria-label="Example home icon" class = 'pointer' (click) = 'OnClick()'>home </mat-icon> -->
 <span  class = 'pointer' (click) = 'OnClick()' style=' display: flex; justify-content: flex-start; color: aliceblue;  font-size: x-large; width: 2%; margin-left: 2px;' >🄺🄰🄺🅂🄷🄰</span> 

    <mat-icon mat-mini-fab color="primary" aria-hidden="false" aria-label="Example home icon" class = 'pointer' 
    (click) = "openDialog()" style="margin-left: 96%;
      ">account_circle</mat-icon>

</mat-toolbar>
</div>

