<mat-toolbar>
        <mat-icon mat-mini-fab color="primary" aria-hidden="false" aria-label="Example home icon" class = 'pointer' (click) = 'OnClick()'>home</mat-icon>
    </mat-toolbar>
<section style="float: right;">
        <button mat-raised-button (click) = "openDialog()">≡</button>
</section>
<section>
    <div style="padding:20px;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Impedit quam, error commodi ad ex perferendis, adipisci laborum 
        veritatis vero quasi distinctio sunt deleniti suscipit minus omnis,
        aliquam sapiente tenetur accusantium!
    </div>
</section>


